<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <h3 class="border-bottom pb-2">댓글 수정</h3>
    <form th:action="@{|/comment/modify/${comment.id}|}" method="post" id="content_form">
        <textarea th:text="${comment.content}" name="content" id="content" rows="10" class="form-control mt-3" style="font-size:13pt"></textarea>
        <div class="d-flex justify-content-end">
        <input id="modifyComment" type="button" value="저장" class="btn btn-outline-light mt-2" style="background:lightcoral">
        </div>
    </form>
</div>'
<script layout:fragment="script" type='text/javascript'>
    const comment = document.querySelector("#content");
        document.querySelector("#modifyComment").addEventListener('click', function() {
            if(comment.value == "")
                alert("댓글을 입력해주세요.");
            else
                document.querySelector("#content_form").submit();
        });
</script>
</html>