<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg border-bottom bg-danger bg-opacity-25">
    <div class="container-fluid">
        <a class="navbar-brand fs-1 fw-bold" href="/">
            <img src="https://evape.kr/data/member/so/soularium" alt="Logo" width="50" height="50"> 윤로그</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/user/signup}">Sign-up</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" aria-current="page" th:href="@{/user/login}">Log-in</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" aria-current="page" th:href="@{/user/logout}">Log-out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>