<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="d-flex justify-content-around">
        <div class="card" style="height:650px; width:25%;">
            <img src="https://img.freepik.com/premium-vector/cute-pink-cat-cartoon-vector_839893-74.jpg"
                 class="card-img-top" alt="" style="height:400px">
            <div class="card-body d-flex justify-content-center align-items-center">
                <h1 class="card-title border-bottom border-danger border-opacity-25 pb-2" th:text="|${user.username} 님의 정보|" style="font-family: 'Gugi', sans-serif;"></h1>
            </div>
        </div>
        <div style="width:70%; font-size:14pt;">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="card-title border-bottom fw-bold">아이디</div>
                    <div class="card-text" th:text="${user.username}"></div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <div class="card-title border-bottom fw-bold">닉네임</div>
                    <div class="card-text" th:text="${user.nickname}"></div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <div class="card-title border-bottom fw-bold">생년월일</div>
                    <div class="card-text" th:text="${user.birthDate}"></div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <div class="card-title border-bottom fw-bold">주소</div>
                    <div class="card-text" th:text="${user.address}"></div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <div class="card-title border-bottom fw-bold">이메일</div>
                    <div class="card-text" th:text="${user.email}"></div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <div class="card-title border-bottom fw-bold">가입일</div>
                    <div class="card-text" th:text="${#temporals.format(user.joinDate, 'yyyy-MM-dd')}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>